titanium.sdk=/Library/Application\ Support/Titanium/
titanium.os=osx
titanium.version=6.0.0.GA
android.sdk=/usr/android-sdk

titanium.platform=${titanium.sdk}/mobilesdk/${titanium.os}/${titanium.version}/android
android.platform=${android.sdk}/platforms/android-24
google.apis=${android.sdk}/platforms/android-24